extends _includes/template.pug
block content
    #images
    section.products_section#products
        h5 Sua seleção especial
    section.share_section#share
        h5 Compartilhe a novidade
        p Quer que seus amigos também ganhem a lista personalizada deles? Preencha agora!
        .container
            form#share_form(action="#")
                .input-field
                    input#friend_name(type="text")
                    label(for="#friend_name") Nome do seu amigo:
                .input-field
                    input#friend_email(type="mail")
                    label(for="#friend_email") E-mail:
            .card_wrap_flex
                a.btn-more(href="#") Enviar agora