header
    .container
        h5 uma seleção de produtos
        h3 especial para você
        p Todos os produtos dessa lista foram selecionados apartir da sua navegação. Aproveite!
        .buttonsWrap
            a(href="#").btnHeader Conheça a Linx
            a(href="#").btnHeader Ajude o algorítmo
            a(href="#").btnHeader Seus produtos
            a(href="#").btnHeader Compartilhe